/* Box-sizing and borders */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

/* Remove margin from body and set line-height */
body {
  margin: 0;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Remove default margin for elements */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Button, input, textarea, select resets */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  text-transform: none;
  background: none;
  border: none;
}

/* List styling */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Table styling */
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
  border-width: 1px;
}




/* Navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 50; /* Adjusted to z-50 */
    background-color: #1f2937; /* bg-gray-900 */
    padding: 8px; /* p-2 */
    font-weight: bold; /* font-bold */
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 5px; /* px-5 (horizontal padding) */
    padding-right: 5px; /* px-5 (horizontal padding) */
    color: white; /* text-white */
    font-weight: bold; /* font-bold */
    width: 100%;
}

.navbar ul {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbar li {
    margin-right: 24px; /* space-x-6 */
}

.navbar a {
    color: #ffffff; /* text-white */
    text-decoration: none;
}

.navbar a:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

.navbar a.active {
    color: #93c5fd; /* text-blue-300 */
}

.navbar a.active:hover {
    color: #3b82f6; /* hover:text-blue-500 */
}

.menu-icon{
    z-index: 1;
    cursor: pointer;
    padding-right: 16px;
}

.menu-icon:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

/*Side Nav*/
aside {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 49;
    left: 0;
    background-color: #1f2937; /* bg-gray-900 */
    overflow-x: hidden;
    transition: transform 0.5s ease;
    text-align: left;
    transform: translateX(-100%); /* Initially hidden off-screen */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside a {
    padding-left: 14px; /* pl-7 */
    padding-right: 4px; /* py-2 */
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    display: flex;
    transition: color 0.3s;
}

aside a:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

aside img{
    width: 34px; 
    margin-bottom: 48px;
}

/*Footer*/
footer{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1f2937;
    color: white;
    font-weight: bold;
}

footer ul{
    justify-content: center;
    display: flex;
}

footer p{
    padding-top: 20px;
    font-size: 12px;
    font-weight: lighter;
    justify-content: center;
    display: flex;
}