@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */

/* Navbar styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 50; /* Adjusted to z-50 */
    background-color: #1f2937; /* bg-gray-900 */
    padding: 8px; /* p-2 */
    font-weight: bold; /* font-bold */
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-left: 5px; /* px-5 (horizontal padding) */
    padding-right: 5px; /* px-5 (horizontal padding) */
    color: #ffffff; /* text-white */
    font-weight: bold; /* font-bold */
}

.navbar ul {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: -24px; /* Equivalent to space-x-6, using negative margin to achieve spacing */
}

.navbar li {
    margin-right: 24px; /* space-x-6 */
}

.navbar a {
    color: #ffffff; /* text-white */
    text-decoration: none;
}

.navbar a:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

.navbar a.active {
    color: #93c5fd; /* text-blue-300 */
}

.navbar a.active:hover {
    color: #3b82f6; /* hover:text-blue-500 */
}

/* Table styles */
.table-completed {
    background-color: #d1fae5; /* bg-green-100 */
}

.table-pending {
    background-color: #fef9c3; /* bg-yellow-100 */
}

.table-retake-required {
    background-color: #fee2e2; /* bg-red-100 */
}

/* Slide Toggle styles */
.slide-toggle {
    text-align: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
}

.slide-toggle.open {
    text-align: center;
    transform: translateY(0%);
    opacity: 1;
    height: auto;
    margin-bottom: 16px; /* mb-4 */
}

/* Dashboard Table styles */
.dashboard-tables {
    box-shadow: 0 10px 15px -3px gray, 0 4px 6px -2px gray;
    background-color: white;
    padding: 16px; /* p-4: 16px padding */
    border-radius: 8px; /* rounded-lg: 8px border radius */
    margin-top: 2.5rem; /* mt-10 */
    margin-bottom: 3rem; /* mb-12 */
    margin-left: 1.25rem; /* ml-5 */
    margin-right: 1.25rem; /* mr-5 */
}

.dashboard-q1-tables {
    background-color: #eff6ff; 
    padding: 16px; 
    border-radius: 8px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 16px;
}

.dashboard-q1-tables-headings{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.dashboard-q1-tables table{
    table-layout: fixed;
    width: 100%;
}

.dashboard-q1-tables table th{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.dashboard-q1-tables table td{
    padding-top: 8x;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
}

.dashboard-tables table{
    table-layout: fixed;
    width: 100%;
}

.dashboard-tables table th{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.dashboard-tables table td{
    padding-top: 8x;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
}

.menu-icon{
    z-index: 1;
    cursor: pointer;
}

/* Menu Icon styles */
.menu-icon:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

/* Side Nav styles */
#side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 49;
    left: 0;
    background-color: #1f2937; /* bg-gray-900 */
    overflow-x: hidden;
    transition: transform 0.5s ease;
    text-align: left; /* text-left */
    transform: translateX(-100%); /* Initially hidden off-screen */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#side-nav a {
    padding-left: 14px; /* pl-7 */
    padding-right: 4px; /* py-2 */
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold; /* font-bold */
    color: #ffffff; /* text-white */
    display: flex;
    transition: color 0.3s;
}

#side-nav a:hover {
    color: #6b7280; /* hover:text-gray-500 */
}

.side-nav-image {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.75em; /* mr-3 */
}

/* FAQ styles */
.faq-questions {
    display: flex;
    justify-content: center;
}

.faq-answers {
    display: flex;
    justify-content: center;
    margin-top: 16px; /* mt-4 */
}

.faq-question-buttons {
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    padding-left: 4px; /* pl-1 */
    padding-right: 4px; /* pr-1 */
}

.dashboard-tables-headings{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* One column by default */
    gap: 16px; 
}

/* Media query for medium screens and larger */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens and larger */
    }
}

